
<div>
    
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/1280px-R_logo.svg.png" width=10% >
    </div >
# Repaso del lenguaje R

En este notebook se busca repasar los conceptos básicos del lenguaje de programación R, características especiales del lenguaje y
funciones que puedan resultar de utilidad en el tratamiento de datos dentro del curso.

También se abordan las funcionalidades básicas que se puedan ver afectadas al utilizarlo en un notebook como rutas de entorno.

En cursiva están las indicaciones para el siguiente bloque de código.

## Operadores lógicos

### Operador pertenece

Dentro de los operadores lógicos R destaca por cuenta con el operador pertenece con el símbolo %in%

>_Realice una operación con el operador pertenece_

In [2]:
a <- seq(1,1)
b <- seq(1,1)
a %in% b

[1] TRUE

### Operador identical

>_Realice una operación con el operador identical_

In [8]:
c <- 3
c==3

[1] TRUE

### Operador XOR

>_Utilice el operador XOR con los resultados de las comparaciones anteriores_

In [20]:
d <- seq(1,5)
d
e <- seq(0,8, by = 2)
e
xor(d,e)

[1] 1 2 3 4 5

[1] 0 2 4 6 8

[1]  TRUE FALSE FALSE FALSE FALSE

## Estructura de control

sentencia if
> Pinta en pantalla multiplo de tres cuando la division entre tres no tenga decimales

[1] "divisible"

## Bucles

> _Escribe un ciclo que cuente del 1 al 5_

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

## Ejercicio

Dado un número entero, realice las siguientes acciones condicionales:

Si **_n_** es impar,  imprimir raro
Si **_n_** es  par y en el rango inclusivo de 2 a 5, impresión normal <br>
Si **_n_** es par y en el rango inclusivo de 6 a 20 , impresión raro  <br>
Si **_n_** es par y mayor que 20 , impresión normal  <br>
Complete el código de resguardo proporcionado en su editor para imprimir si **_n_** o no es raro. <br>

Restricciones

a <=  **_n_** <= 100

[1] "Raro"

## Funciones y recursividad

Escriba una funcion recursiva que calule la factorial de un número entero

[1] 3628800

## Vectores

Un vector es un conjunto de datos en R

>_Declare un vector_

[1] 3 1 2 5 1

>_Concatene dos vectores_

[1] 1 3 4 5 3 1 2 5 1

### Ordenar un vector

Trabajo sobre el vector acceder a elementos y ordenar

>_Ordene un vector de manera ascendente_

[1] 1 1 2 3 5

>_Ordene el vector en orden decreciente_

[1] 5 3 2 1 1

## Tipos de dato en R

>_Obtenga el tipo de variable del vector anterior_

[1] "numeric"

### Valores de un objeto

>_Obtenga los valores distintos del vector anterior_

[1] 3 1 2 5

## Dataframes

Un DataFrame es una estructura de datos que representa una tabla donde cada columna represnta una variable y cada fila seria el equivalente a una tupla.

>_Declare un dataframe con tres variables_

  Municipio     CP    pob
1 iztacalco      8100 1.0e+05
2 cuatitlan     54744 1.0e+01
3 neza          21456 1.0e+08
4 benito juarez 18001 4.3e+01

## Manejo de cadenas

En esta sección se revisan los principales conceptos de manejo de cadenas.
Los requisitos de esta sección:

### Longitud de una cadena

>_Determine la logitud de las siguientes cadenas:_ 
>
>* _notebook jupyter_
>* _R lenguaje_
>* _90_
>* _texto1_

[1] 17 10 NA  6

### Combinar cadenas

>_Crea la siguiente frase a partir de 3 cadenas de caracteres_  **_"hola y adiós"_**

hola  y  adios

### Ordenar palabras

> _Ordena las siguientes palabras:_
>
>- maceta
>- jabon
>- vaso
>- reloj

[1] "jabon"  "maceta" "reloj"  "vaso"

## Separar palabras

> _Separe la siguiente frase en cadenas separadas por los espacios_  _"Jupyter Notebook ma ayuda a entender mejor R"_

[[1]]
[1] "Jupyter"  "Notebook" "ma"       "ayuda"    "a"        "entender" "mejor"
[8] "R"

## Ejercicio

> Dada una cadena, **_S_** , de longitud **_N_** que está indexado desdea 0 a **_N-1_**, imprima sus caracteres indexados pares e impares 
> como 2 cadenas separadas por espacios en una sola línea, Nota 0 se considera par.
> Ejemplo
> s = abcdf
> Salida = abc  def
> 
> Considere que el vector de entrada en el primer elemento indica el número de palabras analizar
> Vector prueba : input <- c("2","Cacao","Sandia")
>
>
> Ejemplo 2
>
> input <- c("2","Cacao","Sandia")
> 
>Salida<br>
>
> Cco aa<br>
> Sni ada<br><br>
>
> Ejemplo 3<br>
> input <- c("3","Melon","Piña","Pepino")<br>
> Salida
> Mln	eo <br>
> Pñ	ia<br>
> Ppn	eio<br>

M l n 	e o
P ñ 	i a
P p n 	e i o

## Manejo de archivos

lea un archivo CSV desde un notebook

   cve_ent poblacion nombre              X26.02.2020 X27.02.2020 X28.02.2020
1   1        1434635 AGUASCALIENTES      0           0           0
2   2        3634868 BAJA CALIFORNIA     0           0           0
3   3         804708 BAJA CALIFORNIA SUR 0           0           0
4   4        1000617 CAMPECHE            0           0           0
5   7        5730367 CHIAPAS             0           0           0
6   8        3801487 CHIHUAHUA           0           0           0
7   9        9018645 DISTRITO FEDERAL    0           2           0
8   5        3218720 COAHUILA            0           0           1
9   6         785153 COLIMA              0           0           0
10 10        1868996 DURANGO             0           0           0
11 11        6228175 GUANAJUATO          0           0           0
12 12        3657048 GUERRERO            0           0           0
13 13        3086414 HIDALGO             0           1           0
14 14        8409693 JALISCO             0           0           0
15 15       17427790 MEXICO              0           1           1
16 16        4825401 MICHOACAN           0           0           0
17 17        2044058 MORELOS             0           0           0
18 18        1288571 NAYARIT             0           0           0
19 19        5610153 NUEVO LEON          0           0           0
20 20        4143593 OAXACA              0           0           0
21 21        6604451 PUEBLA              0           0           0
22 22        2279637 QUERETARO           0           0           0
23 23        1723259 QUINTANA ROO        0           0           0
24 24        2866142 SAN LUIS POTOSI     0           0           0
25 25        3156674 SINALOA             0           0           0
26 26        3074745 SONORA              0           0           0
27 27        2572287 TABASCO             0           0           0
28 28        3650602 TAMAULIPAS          0           0           0
29 29        1380011 TLAXCALA            0           0           0
30 30        8539862 VERACRUZ            0           0           0
31 31        2259098 YUCATAN             0           0           0
32 32        1666426 ZACATECAS           0           0           0
33  0      127792286 Nacional            0           4           2
   X29.02.2020 X01.03.2020 X02.03.2020 X03.03.2020 ⋯ X18.06.2022 X19.06.2022
1  0           0           0           0           ⋯   23          11
2  0           0           0           0           ⋯   43          33
3  0           0           0           0           ⋯   63          52
4  0           0           0           0           ⋯   22          33
5  1           0           0           0           ⋯    3           7
6  0           0           0           0           ⋯   58          45
7  0           0           0           1           ⋯ 1457        1160
8  0           0           0           1           ⋯   61          57
9  0           0           0           0           ⋯   24          58
10 0           0           0           0           ⋯   16          22
11 0           1           3           3           ⋯   84         115
12 0           0           0           0           ⋯   12          27
13 0           0           0           0           ⋯   73          58
14 0           0           0           0           ⋯   97          86
15 1           0           2           2           ⋯  206         185
16 0           0           0           0           ⋯   13          18
17 0           0           0           0           ⋯   23           7
18 0           0           0           1           ⋯   44          52
19 0           0           0           0           ⋯  207         179
20 0           1           0           0           ⋯   96          77
21 0           0           0           0           ⋯   55          49
22 0           0           0           0           ⋯   28          57
23 0           0           0           0           ⋯  287         271
24 0           0           0           0           ⋯   90          71
25 0           0           0           0           ⋯  389         218
26 0           0           0           0           ⋯   61          54
27 0           0           0           0           ⋯   62          24
28 0           0           0           0           ⋯   95         107
29 0           0           0           0           ⋯    9           6
30 0           0           0           0           ⋯  124         128
31 0           0           0           0           ⋯   97          97
32 0           0           0           1           ⋯    9          15
33 2           2           5           9           ⋯ 3931        3379
   X20.06.2022 X21.06.2022 X22.06.2022 X23.06.2022 X24.06.2022 X25.06.2022
1    162         135         141         162         67           3
2    317         364         307         295        183          19
3    366         335         366         348        294          43
4    108          95         113          91         83          26
5     20          16          11          19         17           0
6    242         220         227         208         91           4
7   4904        4839        4919        4611       3478         696
8    266         290         358         325        205          61
9    130         147         126         169         61          36
10   194         145         191         186        133          24
11   396         369         295         288        141          32
12    76          97          63          56         51          17
13   251         233         235         261        156          52
14   392         374         369         308        161          30
15  1640        1539        1697        1601        809         163
16    95          76          69          89         46          12
17    52          73          81          77         27          14
18   151         125         148          89         46           9
19  1062         998         991         677        427         142
20   241         212         214         231        132          83
21   257         265         335         299        287         101
22   232         270         298         302        188          72
23   634         614         641         683        459         243
24   334         361         326         295        220          36
25   846         755         798         645        481          21
26   361         303         353         335        213          48
27   183         233         250         299        264         109
28   360         338         371         297        238          92
29    45          50          53          34         34           1
30   456         429         527         442        318         171
31   598         567         535         573        374          27
32    88         121          95          92         76           7
33 15459       14988       15503       14387       9760        2394
   X26.06.2022 X27.06.2022
1     1        0
2    10        0
3    49        1
4     2        0
5     1        0
6     1        0
7   474        0
8    43        0
9     7        0
10   21        0
11   22        0
12    9        0
13   54        0
14   15        0
15   67        0
16    7        0
17    1        0
18    8        0
19   57        0
20   21        0
21   87        0
22   20        0
23   23        0
24   13        0
25    9        0
26   63        0
27    7        0
28   47        0
29    5        0
30   38        0
31   20        0
32    2        0
33 1204        1